{#
/**
 * @file
 * Theme override to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 */
#}

{% if url %}
  {{ link(image|add_class('uk-border-pill uk-background-muted')|set_attribute('width', 32)|set_attribute('height', 32), url) }}

{% else %}
  {{ image|add_class('uk-border-pill uk-background-muted')|set_attribute('width', 32)|set_attribute('height', 32) }}
{% endif %}
