{#
/**
 * @file
 * Theme override to display a navbar menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @see uikit_preprocess_menu__navbar()
 *
 * @ingroup uikit_themeable
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {%
      set classes = [
        menu_level == 0 ? 'uk-navbar-nav',
        menu_level > 0 ? 'uk-nav',
        menu_level > 0 ? 'uk-navbar-dropdown-nav',
        'uk-visible@m'
      ]
    %}

    {% if menu_level > 0 %}
      <div class="uk-navbar-dropdown uk-visible@m">
    {% endif %}

    <ul{{ attributes.addClass(classes) }}>
    {% for item in items %}
      <li{{ item.attributes }}>
      {% if item.is_expanded %}
        <a href="#">{{ item.title }} <span uk-navbar-parent-icon></span></a>
      {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass(classes), menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    {% if menu_level > 0 %}
      </div>
    {% endif %}



    {%
      set mobile_classes = [
        menu_level == 0 ? 'uk-nav-default',
        menu_level == 0 ? 'uk-nav-divider',
        menu_level == 0 ? 'uk-nav-accordion',
        menu_level > 0 ? 'uk-nav-sub',
        'uk-hidden@m',
      ]
    %}


    <ul{{ attributes.removeClass(classes).addClass(mobile_classes) }} uk-nav>
    {% for item in items %}
      {% if item.is_expanded %}
      <li{{ item.attributes.addClass('uk-parent') }}>
        <a href="#">{{ item.title }} <span uk-navbar-parent-icon></span></a>
      {% else %}
      <li{{ item.attributes }}>
          {{ link(item.title, item.url) }}
        {% endif %}
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes.removeClass(mobile_classes), menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>

  {% endif %}
{% endmacro %}

