<div class="uk-grid-item-match uk-flex-middle uk-width-auto">
    <div class="uk-panel uk-width-1-1">
        <div class="uk-margin" uk-scrollspy="target: [uk-scrollspy-class];">
            <ul class="uk-child-width-auto uk-grid-small uk-flex-inline uk-flex-middle" uk-grid="">
                {% for item in social_icons %}
                    <li class="el-item">
                        <a class="el-link uk-icon-link" href="{{ item.link }}" target="_blank" rel="noreferrer">
                            <span uk-icon="icon: {{ item.name }};" class="uk-icon"></span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>